{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="/static/signin.css" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <title>A.I.</title>
</head>
<body>
    <form class="form-signin" action="/manage_app/add/" enctype="multipart/form-data" method="post" id="upload">{% csrf_token %}
        <img class="mb-4" src="/static/ai_icon.png" alt="" width="320" height="320">

        <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile02" name="user_mp4">
              <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">選取上傳影片</label>
            </div>
        </div>
        
        <button class="btn btn-lg btn-primary btn-block has-spinner" style="margin-top:20px" type="submit" id="send">送出</button>
        <a href="#" onclick="javascript:location.href='manage_app/use'" >使用說明</input>
        <a href="#" onclick="javascript:location.href='manage_app/plan'" >計畫說明</input>
        <a href="#" onclick="javascript:location.href='manage_app/technology'" >應用技術</input>
        <a href="#" onclick="javascript:location.href='manage_app/theory'" >背景理論</input>
        <a href="#" onclick="javascript:location.href='manage_app/reference'" >reference</input>
        <a href="#" onclick="javascript:location.href='manage_app/resume'" >開發者履歷</input>
        <p class="mt-5 mb-3 text-muted text-center">&copy; ELSA 2020</p>
        <h2>{{response}}</h2>
    </form>

    <script>
        $('#inputGroupFile02').on('change',function(){
            //get the file name
            var fileName = $(this).val();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })

        $('#send').each(function () {
            this.submitting = false;
        }).click(function () {
            if (!this.submitting) {
                this.submitting = true;
                $('#upload').submit();
                var btn = $('#send');
                btn.html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>運算處理中...')
                btn.attr("disabled", true);
            }
        });
    </script>
</body>
</html>